.home{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.home-header{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}
.home-header-left{
    display: flex;
    align-items: center;
}
.home-header-left p{
    margin-right: 20px;
    font-size: 15px;
}
.home-header-right{
    display: flex;
    align-items: center;
}
.home-header-right p{
    margin-left: 20px;
    font-size: 15px;
}
.home-header-right > svg{
    margin-right: 20px;
}
.home-header-right .MuiSvgIcon-root{
    margin-left: 20px;
}
.home-body{
    flex: 1;
    display: flex;
    margin-top: 10%;
    flex-direction: column;
}
.home-body > img{
    object-fit: contain;
    height: 100px;
}